/* Common tools */
body {
   color: #ffffff;
}
/* img {
   display: block;
   width: 100%;
   height:auto;
   } */
.container {
   width: 900px;
   margin: 0 auto;
   /* background-color: rgb(172, 216, 216); */
}

 /* Menu style */

.menu {
   display: block;
}

.menu-navigation {
   /* margin: 0;
   padding: 0; */
   text-align: center;
   vertical-align: middle;
   padding: 70px 0 80px;

}
.menu-navigation li {
   display: inline-block;
   margin: 0 25px;
   }
/* .menu-navigation li:first-child {
   margin-left: 165px;
   }
.menu-navigation li:last-child {
   margin-right: 100px;
} */

.menu-navigation a {
   font-size: 14px;
   text-decoration: none;
   text-transform: uppercase;
   color: #777777;
   font-family: Myriad Pro;
}

.menu-navigation a:hover,
.menu-navigation a:focus {
   color: blue;
}

/* Block section */
.box {
   /* display: inline-block; */
   /* display: block; */
    margin: 0;
    padding: 0;
}
.box-item {
   width: 410px;
  display: inline-block;
  padding: 0;
   margin-bottom: 105px;
   text-align: left;
}

/* Придвигаем каждый 2-й блок Li к правой стороне */
.box-item:nth-child(2n) {
   margin-left: 75px;  
}
/* Даем всем левым блокам margin 0, что бы не было сдвигов  */
.box-item:nth-child(2n+1) {
   margin-right: 0;  
}
/* 5-му и 6-му блоку делаем меньше отступ снизу для конпки (Button) */
.box li:nth-child(n+5) {
   margin-bottom: 50px; 
}
 

.box-item img {
   width: 410px;
} 
/* Text */
.box-item p, h2, h3 {
   margin: 30px auto;
} 
.box-item h3 {
   color: #c8c3b9;
   font-size: 14px;
   text-transform: uppercase;
   font-family: "Myriad Pro", Myriad;
}
.box-item h2 {
   color: #626262;
   font-size: 30px;
   /* text-transform: uppercase; */
   font-family: Myriad Pro;
}
.box-item p {
   color: #626262;
   font-size: 14px;
   /* text-transform: uppercase; */
   font-family: Myriad Pro;
}

/* Стилизуем кнопку */
.button {
   display: block;
   text-align: center;
   background-color: white;
   margin-bottom: 60px;
}
button {
   display: inline-block;
   width: 160px;
   height: 60px;
   font-size: 20px;
   color: #626262;
   font-family: Myriad Pro;
   background-color: white;
   border: 1px solid #626262;
}






