/* html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }
 
 body {
   padding: 20px;
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   line-height: 1.5;
 }
 
 .card {
   position: relative;
   width: 224px;
   box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
 }
 
 .overlay {
   position: absolute;
   width: 100%;
   height: 249px;
   background-color: rgb(76, 118, 255);
   opacity: 0;
 }
 
 .overlay-icon {
   position: absolute;
   bottom: 0;
   right: 0;
 
   display: inline-block;
   width: 30px;
   height: 30px;
   background-color: red;
 }
 
 .card:hover .overlay {
   opacity: 0.949;
 }
 
 .article {
   position: relative;
   width: 300px;
   padding-left: 70px;
   box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
 }
 
 .article::before {
   position: absolute;
   left: 5px;
   top: 15px;
   display: inline-block;
   content: '';
   width: 50px;
   height: 50px;
   background-color: red;
 } */

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

.parent {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #212121;
}
.child_purpple {
  position: absolute;
  width: 150px;
  height: 150px;
  /* Задаем перемещение относительно своего положения с помощью "transform", то есть перемещение блока не зависит от родительского блока */

  /* Центрирование */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */


  /* Размещение в правой стооны по-центру */
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  /* Просто перемещение относительно своего положения и также помогает перемещаться без " position: absolute;" */
  /* transform: translateX(50%); */
  background-color: palevioletred;
}
.child_blue {
  /* position: absolute; */
  width: 150px;
  height: 150px;
  background-color: blue;
  /* top: 25%;  */
  transform: translateY(100%);
}

/* Оформляем картинку карту как модальное окно */

/* Задаем .card свойство "position: relative", что бы .overlay разместился поверх картинки и ним можно было управлять как модальным окном */
.card {
  position: relative;
  width: 224px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
.overlay {
  position: absolute;
  /* можно и в пикселях задавать ширину, но здесь для лучшей гибкости и так далее... */
  width: 100%;
  height: 249px;
  background-color: rgb(76, 118, 255);
  /* opacity: 0.949; */
  /* Визуально наше окно присутствует, но для того, что бы оно появлялось при ховере мы задали прозрачность 0 (opacity: 0) */
  opacity: 0;
}

.card:hover .overlay {
  opacity: 0.949;
}
 
/* Style and position icon */
.overlay-icon {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color:red;
  top: 100px;
  right: 50px;
}


/* Style article */
.article {
  position: relative;
  width: 300px;
  /* padding-left: 60px задаем, для того что бы можно было разместить нашу иконку слева от контента */
  padding-left: 60px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
.article::before {
  /* данное позиционирование позволяет нашу икноку перемещать как угодно по родителю и плюс есть место слева " padding-left: 60px" */
  content: '';
  position: absolute; 
  display: inline-block;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;background-color: red;
}
