html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


p::before {
  content: "123";
  color: aqua;
  font-size: 18px;
}

p::after {
  content: "321";
  color: rgb(165, 30, 30);
  font-size: 24px;
}

/* Style link ex +ent */
/* Первый пример работы с иконками в кнопках */
.example_1 {
  display: block;
  margin-top: 30px;
}
.link {
  position: relative;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000;
  padding: 25px 20px 0;
  height: 50px;
  width: 100px;
}

/* Через псевдоэлементы вставляем иконки в кнопки-ссыдки */
.login::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 35px;
  width: 20px;
  height: 20px;
  /* background-color: red; */
  background-image: url(../img/icons/icon-login.png);
  /* Задаем background-size: contain;, что бі картинке влезла в заданный фон */
  background-size: contain;
  background-position: center;
}

.logout::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 40px;
  width: 20px;
  height: 20px;
  /* background-color: red; */
  background-image: url(../img/icons/icon-logout.png);
  /* Задаем background-size: contain;, что бі картинке влезла в заданный фон */
  background-size: contain;
  background-position: center;
}



/* Второй пример работы с иконками в кнопках */
.example_2 {
  margin-top: 50px;
}
.example_2 li {
  display: inline-block;
  list-style: none;
}
/*Style btn */
.btn {
  text-decoration: none;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  /* Для центрирования иконки и текста */
  line-height: 50px;
  text-align: center;
}
.btn_enter::before {
  content: '';
  display: inline-block;
  /* Для центрирования иконки*/
  vertical-align: middle;
  margin-right: 2px;
 height: 20px;
 width: 20px;
 background-image: url(../img/icons/icon-login.png);
 background-size: contain;
 background-position: center;
}
.btn_exit::after {
  content: '';
  display: inline-block;
  /* Для центрирования иконки*/
  vertical-align: middle;
  margin-left: 2px;
 height: 20px;
 width: 20px;
 background-image: url(../img/icons/icon-logout.png);
 background-size: contain;
 background-position: center;
}



/* Style p ::selection */
/*Выделяет текст при наведении на него с помощью псевдоэлемента ::selection */
p::selection {
  color: red;
  background-color: teal;
}

/* Добавляем кавычки для "span"*/
span::before {
  content: '\275C\275C';
  display: inline-block;
background-color: grey;
  height: 5px;
  vertical-align: top;
}

span::after {
  content: '\275C'
}





/* body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.page-header {
  padding: 20px 0;
  outline: 2px solid brown;
}

.logo {
  outline: 2px solid orange;
  float: left;
}

.catalog {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  float: right;
  width: 300px;
  outline: 2px solid blue;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  float: left;
  background-color: #424242;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  float: left;
  width: 300px;
  outline: 2px solid #424242;
}

.catalog-item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.catalog-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 50px;
} */

/* PSEUDOELEMENTS */

/* .link {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #424242;
  padding: 10px 20px;
}

.login::before,
.logout::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  vertical-align: middle;

  background-size: contain;
  background-position: center;
}

.login::before {
  background-image: url("../img/icons/icon-login.png");
}

.logout::after {
  background-image: url("../img/icons/icon-logout.png");
}

p::selection {
  color: #fff;
  background-color: #424242;
}

p::before {
  content: "\21A0";
  color: red;
}

p::after {
  content: "\21A9";
  color: green;
}

h2 {
  text-align: center;
}

h2::before {
  display: block;
  width: 60px;
  height: 2px;
  background-color: red;
  content: '';
  margin: 0 auto;
} */

/* .container {
  padding: 20px;
  background-color: #424242;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.red {
  float: right;
  width: 250px;
  height: 150px;
  background-color: #ff5252;
}

.green {
  float: right;
  width: 300px;
  height: 175px;
  background-color: #4caf50;
}

.blue {
  float: right;
  width: 350px;
  height: 200px;
  background-color: #2196f3;
} */

/* POST */
/* .post {
  width: 960px;
  outline: 2px solid #424242;
}

.post p {
}

.post img {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
} */
