// @import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
// @import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';



$main-color: #565656;
$red: #ff6f60;
$blue: #263fb2;

body {
    font-family: 'Montserrat';
    color: $main-color;
}