@import "imported.css";

/* the main part of precours */

/* .text {
   width: 500px;
}

p {
   color: red;
   overflow: auto;
   font-size: 20px;
   height: 750px;
   width: 1000px;
   background-image: url(../img/first-bg.jpg);
   background-repeat: no-repeat;
   background-color: rgb(17, 3, 3);
   background-position: center center;
   background: black url(../img/first-bg.jpg) no-repeat center;
   margin: 100px;
} */

div {
  width: 500px;
  /* height: 60px; */
  /* margin: 10px; */

}
.box1, .box2 {
  background-color: green;
  /* Разновидность текста */
  font-size: 15px;
  font-weight: bold;
  font-family: serif;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 14px;
  
}

.box1{
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 80px;
  border: 5px solid black;
}
 
.box2{
  box-sizing: content-box;
  margin-bottom: 10px;
  padding: 120px;
  border: 5px dashed white;
}

/* Мутоды подключения CSS */

/* cелекторы */
/* селктор атрибута [] */
[type="text"]{
color: brown;
}

[href="http://gmail.com"] {
color: royalblue;
text-decoration: none;
}
/* дочерній селектор */
.menu .menu__item>a{
  text-decoration: none;
  color: turquoise;
}

.link {
  color:red;
  font-size: 30px;
}

/* .menu .menu__item ul li a{
  color: red;
} */
/* сестринский селектор */
/* .menu .menu__item>a+ul a{
color: yellow;
font-size: 20px;
/* text-decoration: none; */
/*
/* 
div+p {
  background-color: tomato;
}

.menu__link>a{
  text-decoration: none;
} */