// Fonts
$primary-font-stack: 'Kaushanscript';
$Montserrat-Light-font: 'Montserrat-Light';
$Montserrat-Bold-font: 'Montserrat-Bold';
$Montserrat-Regular-font: 'Montserrat-Regular';
$Roboto-light-font: 'Roboto-light';
$Roboto-Regular-font: 'Roboto-Regular';

// Color
$primary-white-color: #ffffff;
$primary-red-color: #da2828;
