html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Kaushanscript";
  src: url("../fonts/Kaushanscript.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  height: auto;
  /* background-color: grey; */
  margin: 0 auto;
}

.header {
  background: url('../img/background.png') no-repeat center/cover;
  min-height: 1000px;
}


/* Style Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 625px;
}

.menu__link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(252, 227, 138, 0);
  transition: all 0.3s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #fce38a;
  border-bottom: 2px solid rgba(252, 227, 138, 1);
}

/* Style nav svg */
.menu__icon svg {
  display: inline-block;
  height: 20px;
  width: 20px;
  fill: #ffffff; 
  transition: all 0.3s linear;
}

.menu__icon:hover svg,
.menu__icon:hover svg {
  fill: #fce38a;
 border:  none;
}


/* style block ADV */
.header-adv {
  margin-top: 150px;
  text-align: center;
}

.adv__titleup {
  font-family: "Kaushanscript";
  font-size: 72px;
  color: #ffffff;
  margin-bottom: 60px;
}
.adv__titlesub { 
  font-family: "Montserrat-Bold";
  font-size: 150px;
  color: #ffffff;
  line-height: 140px;
  text-transform: uppercase;
}

.adv-btn {
  margin-top: 120px;
  width: 150px;
  height: 35px;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
  outline: none;
}




/* Style Blcok Services */
/* Style title  Services*/

.services {
  padding: 50px 0 90px;
}
.services-title {
  text-align: center;
  width: 320px;
  margin: 0 auto;
 padding-bottom: 50px;
  position: relative;
}

.title__sub::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 110px;

}
.title__up {
  text-align: center;
  font-family: "Kaushanscript";
  font-size: 24px;
  color: #333333;
  display: block;
  margin-bottom: 25px;
  text-transform: none;
}

.title__sub {
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
}


/* Style box-tools */
.sevices-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.tools-box {
  display: flex;
  width: 380px;
}
.tools-box:not(:nth-child(n+4)) {
  margin-bottom: 100px;
}

.box-icon {
  width: 80px;
  height: 70px;
}
.box-icon::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 20px;
}
.box-icon--clock::before {
  background: url('../img/icon/services/ALARM.png') no-repeat center;
}
.box-icon--line::before {
  background: url('../img/icon/services/LINE_GRAPH.png') no-repeat center;
}
.box-icon--comp::before {
  background: url('../img/icon/services/COMPUTER.png') no-repeat center;
}
.box-icon--book::before {
  background: url('../img/icon/services/BOOK.png') no-repeat center;
}
.box-icon--home::before {
  background: url('../img/icon/services/HOME.png') no-repeat center;
}
.box-icon--square::before {
  background: url('../img/icon/services/Square.png') no-repeat center;
}



.box-text {
  width: 300px;
}



/* Style text-box */
.box-text__title {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #181818;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.box-text__describe {
  font-family: "Roboto-Regular";
  font-size: 15px;
  color: #999999;
  line-height: 24px;
}