html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Kaushanscript";
  src: url("../fonts/Kaushanscript.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  height: auto;
  /* background-color: grey; */
  margin: 0 auto;
}

.header {
  background: url("../img/background.png") no-repeat center/cover;
  min-height: 1000px;
}

/* Style Nav */
.nav {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav-menu {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  width: 625px;
}

.menu__link {
  text-decoration: none;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(252, 227, 138, 0);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #fce38a;
  border-bottom: 2px solid rgba(252, 227, 138, 1);
}

/* Style nav svg */
.menu__icon svg {
  display: inline-block;
  height: 20px;
  width: 20px;
  fill: #ffffff;
  transition: all 0.3s linear;
}

.menu__icon:hover svg,
.menu__icon:hover svg {
  fill: #fce38a;
  border: none;
}

/* style block ADV */
.header-adv {
  margin-top: 150px;
  text-align: center;
}

.adv__titleup {
  font-family: "Kaushanscript";
  font-size: 72px;
  color: #ffffff;
  margin-bottom: 60px;
}
.adv__titlesub {
  font-family: "Montserrat-Bold";
  font-size: 150px;
  color: #ffffff;
  line-height: 140px;
  text-transform: uppercase;
}

.adv-btn {
  margin-top: 120px;
  width: 150px;
  height: 35px;
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
  outline: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
    -o-transition: all 1s;
  transition: all 1s;
}

.adv-btn:hover,
.adv-btn:focus {
  color: #da2828;
  background-color: rgba(226, 207, 207, 0.8);
}


/* Style Blcok Services */
/* Style title  Services*/

.services {
  padding: 50px 0 90px;
}
.services-title,
.team-title {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
}

.title__sub::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 110px;
}
.title__up {
  text-align: center;
  font-family: "Kaushanscript";
  font-size: 24px;
  color: #333333;
  display: block;
  margin-bottom: 25px;
  text-transform: none;
}

.title__sub {
  font-family: "Montserrat-Bold";
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
}

/* Style box-tools */
.sevices-tools {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}

.tools-box {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  width: 380px;
}
.tools-box:not(:nth-child(n + 4)) {
  margin-bottom: 100px;
}

.box-icon {
  width: 80px;
  height: 70px;
}
.box-icon::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 20px;
}
.box-icon--clock::before {
  background: url("../img/icon/services/ALARM.png") no-repeat center;
}
.box-icon--line::before {
  background: url("../img/icon/services/LINE_GRAPH.png") no-repeat center;
}
.box-icon--comp::before {
  background: url("../img/icon/services/COMPUTER.png") no-repeat center;
}
.box-icon--book::before {
  background: url("../img/icon/services/BOOK.png") no-repeat center;
}
.box-icon--home::before {
  background: url("../img/icon/services/HOME.png") no-repeat center;
}
.box-icon--square::before {
  background: url("../img/icon/services/Square.png") no-repeat center;
}

.box-text {
  width: 300px;
}

/* Style text-box */
.box-text__title {
  font-family: "Montserrat-Regular";
  font-size: 14px;
  color: #181818;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.box-text__describe {
  font-family: "Roboto-Regular";
  font-size: 15px;
  color: #999999;
  line-height: 24px;
}




/* Style block TEAM!!!!!!!!!! */
.team {
  padding-bottom: 84px;
}

/* Title-preview */
.team__preview {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;

  width: 960px;
  font-family: "Roboto-Regular";
  font-size: 15px;
  line-height: 24px;
  color: #9f9f9f;
}


/* Style block team-caard !!!!!!*/
.team-gallery {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  justify-content: space-between;
  margin-top: 90px;
}

.team-card {
  flex-basis: 384px;
  /* width: 380px; */
  text-align: center;
}

.modal-card {
  position: relative;
  width: 380px;
  height: 470px;
  /* Задаем задний фон img, что бы при сдвиге картинки был синий фон */
  background-color: #95e1d3;

}

/* Style Icon block & svg */
.icon-block {
  position: relative;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(to bottom, rgba(238, 137, 137,0.8), rgba(245, 183, 142, 0.8), rgba(241, 213, 137, 0.8));
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
    -o-transition: all 1s;
  transition: all 1s;
  margin: 0 auto;
  z-index: 0;
}

.icon-item {
  width: 225px;
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
}
.icon__element {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
 justify-content: center;
 align-items: center;
  top: 60px;
  width: 55px;
  height: 55px;
  background-color: rgba(252, 227, 138, 1);
  transition: all 1s;
}
.icon__element svg {
  position: absolute;
  width: 26px;
  height: 26px;
  display: inline-block;
  fill: #f38181;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
    -o-transition: all 1s;
  transition: all 1s;
}

/* Style img-team */
.team-layout {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
    -o-transition: all 1s;
  transition: all 1s;
  display: block;
  z-index: 2;
}

.team-layout__img {
  display: block;
  position: absolute;
}
/* Делаем сдвиг карточки */
.team-layout:hover{
  transform: translate(-10px, -10px);
}

/* При наведении на картоку img блок становится не прозрачным и меняет свой приоритет на высший уровень  (z-index: 3)*/
.team-layout:hover .icon-block {
  z-index: 3;
  opacity: 1;
}

.icon__element:hover {
  background-color: rgb(243, 129, 129, 1);
}

/* При наведение меняет цвет icon */
.icon__element:hover svg {
  fill: #ffffff;
}

/* Style text team card */
.card__title {
  font-family: "Montserrat-Bold";
  font-size: 14;
  margin: 30px 0 15px;
 color: #333333;
 text-transform: uppercase;
}
.card__text {
  font-family: "Roboto-light";
  font-size: 15px;
  color: #b3b3b3;
}



/* Style footer!!!!! */
.footer {
  height: 60px;
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d9d9d9;
}

.footer-item {
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  justify-content: space-between;
  width: 300px;
}
.footer-item__link{
   text-decoration: none;
   font-family: "Montserrat-Regular";
   font-size: 14px;
   font-weight: 500;
   color: #333333;
}
.footer-item__link:hover {
  color: #f38181;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* Style button form */
.form {
  margin: 0;
  padding: 0;
  display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

/* Style search butn */
.form-search {
  width: 230px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  font-family: 'RobotoItalic';
  border: 1px solid #d9d9d9;
}
/*Задаем серый цвет тексту placeholder="Your Email..."    */
input[type="search"]::placeholder {
  color: #d9d9d9;
  }  

/* Style butn submit */
.forme-submit {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #95e1d3;
  cursor: pointer;
}